@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

:root {
  --background: #f7f6f8;
  --background-dark: #191022;
  --foreground: #171717;
  --primary: #7f13ec;
}

.dark {
  --background: #191022;
  --foreground: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-display: 'Inter', sans-serif;
  --color-background-light: #f7f6f8;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
